//- index.jade
extends ./layout

block content
  include parts/header

  div.section
    div.container
      div.row
        div.col.s12.m12.center
          h1.brand phina.js
          br 
          br 
          br 
          ul
            li - アイディアを即座に形にできるゲームライブラリ
            li - 初心者でも手軽にゲームを開発
            li - 様々な Web コンテンツ, アプリで多数の採用実績
            li - 大学や専門学校といった教育機関で利用
            li - 国産かつオープンソースでTwitter 駆動開発, 気軽にコミッターになれます
          br 
          br 
          br 

  div.section.red.lighten-2.white-text
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 Getting Started
          br 
          div.
            <div class='runstant'><iframe src='http://goo.gl/PYLLSI' width='100%' height='480px' style='border:0px;box-shadow:0px 0px 2px 0px #aaa'></iframe></div>
          br 
          br 

  div.section.green.lighten-2.white-text
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 Tutorial
          br 
          p ブログ『<a href='http://phairy.me'>phiary.me</a>』 にて随時更新中...
          br 
          br 

  div.section.blue.lighten-2.white-text
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 Exmaples
          br 
          p hoge
          br 
          br 

  div.section
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 Docs & Community
          br 
          p api ドキュメントは <a href='/docs'>こちら</a>
          p コミュニティは <a href=''>gitter</a> にて活発にやり取りを行っています. 気軽に覗いてみてください.
          br 
          br 

  include parts/footer