footer.page-footer.green.darken-1
  div.container
    div.row
      div.col.s12.m8
        h5.white-text Join Development
        p.grey-text.text-lighten-4
          | phina.js はオープンソースとして開発しています.
          br
          | Github や Gitter で一緒に開発したいというかたはお気軽にご参加下さい♪
        p
          a.btn.blue-grey.darken-1(href='https://github.com/phi-jp/phina.js', target='_blank') Github
          | 
          a.btn.pink.accent-2(href='https://gitter.im/phi-jp/phina.js', target='_blank') Gitter
          | 
          a.btn.blue.darken-2(href='https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2Fabout&ref_src=twsrc%5Etfw&screen_name=phina_js&tw_p=followbutton', target='_blank') Twitter
      div.col.s12.m4
        h5.white-text Contact
        ul
          li.
            <a href="https://twitter.com/phi_jp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @phi_jp</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          li.
            <iframe src="https://ghbtns.com/github-btn.html?user=phi-jp&type=follow&count=false&size=large" frameborder="0" scrolling="0"></iframe>

  div.footer-copyright
    div.container
      | Copyright © 2015 phi. All Rights Reserved.
      a.grey-text.text-lighten-4.right MIT