header
  nav.green.darken-1
    div.container
      div.row
        div.col.s12
          a(href='/').brand-logo
            span phina.js
          a.button-collapse(data-activates="nav-mobile")
            i.material-icons menu
          ul#nav.right.hide-on-med-and-down
            li
              a(href='http://phiary.me', target='_blank') Tutorial
            li
              a(href='/docs/', target='_blank') Docs
            li
              a(href='https://gitter.im/phi-jp/phina.js', target='_blank') Community
            li
              a(href='https://twitter.com/phi_jp', target='_blank') Contact
          ul#nav-mobile.side-nav
            li
              a(href='http://phiary.me', target='_blank') Tutorial
            li
              a(href='/docs/', target='_blank') Docs
            li
              a(href='https://gitter.im/phi-jp/phina.js', target='_blank') Community
            li
              a(href='https://twitter.com/phi_jp', target='_blank') Contact

  script.
    $(".button-collapse").sideNav();
