header
  nav.green.darken-1
    div.container
      div.row
        div.col.s12
          a(href='/').brand-logo
            span phina.js
          ul#nav-mobile.right
            li
              a(href='/about') About
