header
  nav.green.darken-1
    div.container
      div.row
        div.col.s12
          a(href='/').brand-logo
            span phina.js
          ul#nav-mobile.right
            li
              a(href='http://phiary.me', target='_blank') Tutorial
            li
              a(href='/docs/', target='_blank') Docs
            li
              a(href='https://gitter.im/phi-jp/phina.js', target='_blank') Community
            li
              a(href='https://twitter.com/phi_jp', target='_blank') Contact
