
*, *:before, *:after {
  box-sizing: border-box; 
}

body {
  overflow-x: hidden;
}


header {
  .brand-logo {
    font-family: 'Mystery Quest', cursive;
  }
}

.brand {
  font-family: 'Mystery Quest', cursive;
  font-size: 8rem;
}

.section {
  h3 {
    font-size: 1.8rem;
  }
  /*height: 400px;*/
  .large {
    font-size: 2rem;
  }

  img {
    width: 100%;
    max-width: 600px;
  }
  .img-guide {
    max-width: 300px;
    transform: translate(0px, 20px) scale(1.6);
  }
  .img-guide-mini {
    max-width: 220px;
    transform: translate(0px, 20px) scale(1.4);
  }
}


@media only screen and (max-width : 900px) {
  .section {
    .img-guide {
      transform: scale(1.4);
    }
  }
}

@media only screen and (max-width : 600px) {
  .section {
    .img-guide {
      transform: scale(1.2);
    }
  }
}

img.logo-phina {
  width: 640px;
  position: absolute;
  display: block;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

pre {
  font-size: 0.8rem;
  box-shadow: 0px 0px 4px 0px hsl(0, 0%, 67%);
  border-radius: 4px;
}

.examples {
  @box-size: 200px;
  .box {
    position: relative;
    display: inline-block;
    width: @box-size;
    height: @box-size;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px #ccc;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(200, 200, 200, 0.5);
    }

    &:after {
      pointer-events : none;
      content: attr(data-title);
      position: absolute;
      display: block;
      background-color: rgba(50, 50, 50, 0.5);
      width: 100%;
      height: 100%;
      left: 0px;
      text-align: center;
      line-height: @box-size;
      font-size: 1.5rem;

      -webkit-transition: 200ms;
      top: @box-size;
      opacity: 0;
    };
    &:hover:after {
      top: 0px;
      opacity: 1;
    }
  }
}


